# dev tools
.vscode
.env.*
.env
*.pyc
.mypy_cache
.env
.DS_Store
.idx
.idea

# frontend
.output
.nuxt
dist
node_modules
yarn-error.log
yarn.lock

# backend
__pycache__
local_settings.py

# data
shared/secrets
