<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <title>Badges BJK 2024</title>
  <link href="/css/namecard.css" rel="stylesheet">
  <link href="/css/catcolors.css" rel="stylesheet">

</head>

<body style="margin-top: 0">

  {% for page in pages %}
  <div class="cardpage">
    {% for card in page %}
    <div class="card_1 {{ card.positionclass }}">
      <div class="cardsponsor1">
        <img src="/img/frame_chessconsult.png" class="cardturn">
      </div>
      <div class="cardsponsor2">
        <img src="/img/frame_chronos.png" class="cardturn">
      </div>
      <div class="cardsponsor3">
        <img src="/img/frame_talistro.png" class="cardturn">
      </div>
      <div class="cardtitle">
        <img src="/img/logo_kosk.png">
        BJK 2024 Turnhout
      </div>
      <div class="cardtext">
        <p class="cardname">{{ card.fullname }}</p>
        <p class="cardcategory">{{ card.category }} &nbsp;&nbsp;&nbsp;&nbsp;
          {{ card.nationalityfide }}
        </p>
        <p class="cardrating">
          N: {{ card.natrating }} &nbsp;&nbsp;&nbsp;&nbsp;
          F: {{ card.fiderating }}
        </p>
      </div>
      <div class="cardright {{ card.category }}"></div>
      <div class="cardnumber">{{ card.ix }}</div>
    </div>
    {% endfor %}
    <div class="cardline"></div>
  </div>
  {% endfor %}
</body>

</html>