.badge11 {
  top: 1cm;
  left: 1cm;
}

.badge12 {
  top: 1cm;
  left: 10cm;
}

.badge21 {
  top: 7.2cm;
  left: 1cm;
}

.badge22 {
  top: 7.2cm;
  left: 10cm;
}

.badge31 {
  top: 13.4cm;
  left: 1cm;
}

.badge32 {
  top: 13.4cm;
  left: 10cm;
}

.badge41 {
  top: 19.6cm;
  left: 1cm;
}

.badge42 {
  top: 19.6cm;
  left: 10cm;
}

.badgebottom {
  position: absolute;
  top: 4.8cm;
  left: 0;
  right: 0;
  padding: 0;
}

.badgebottom img {
  height: 1.4cm;
  width: auto;
  margin-top: 0;
  padding: 0;
}

.badge_1 {
  position: absolute;
  width: 9cm;
  height: 6.2cm;
  border: 1px dashed #444;
}

.badgeleft {
  position: absolute;
  top: 0.5cm;
  left: 0.5cm;
  width: 3cm;
}

.badgeleft img {
  width: 100%;
}

.badgemiddle {
  position: absolute;
  top: 0.5cm;
  left: 3.8cm;
  width: 4.5cm;
}

.badgepage {
  width: 20cm;
  height: 25cm;
  padding: 2cm;
  margin: 0;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.badgeright {
  position: absolute;
  top: 0;
  left: 8.3cm;
  width: 0.7cm;
  height: 100%;
}

.badgebottom {
  border-top: 1px solid #ff2359;
  text-align: center;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) center;
}

.badgename {
  font-size: 140%;
  font-weight: bold;
}

.badgemeals {
  padding: 0.5em;
  border: 1px solid black;
  width: 2.6em;
  margin-left: auto;
  margin-right: 2em;
}

.badge_NO {
  display: none;
}

.badge_FULL {
  background-color: #e8e131 !important;
}

.badge_HALF {
  background-color: #8ad539 !important;
}

.badge_BREAKFAST {
  background-color: #1ad7f2 !important;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .badgepage {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}