.open {
    background-color: #ff3385 !important;
}


.m1800 {
    background-color: #ff944d !important;
}


.sen {
    background-color: #ffff4d !important;
}

.guest {
    background-color: #79ff4d !important;
}

.ORG {
    background-color: #1734dc !important;
}

.ARB {
    background-color: #316299 !important;
}